body {
margin: 0;
    overflow: hidden;
}

canvas {
    display: block; /* fix necessary to remove space at bottom of canvas */
}

#damage_panel{
	position: fixed;
	width: %10;
	height: %10;
	background-color: #f0f7fb;
     border: solid 1px #3498db;
     border-radius: 6px;
	right: 2%;
	bottom: 2%;
	text-align: center;
}

#rightMenu{
	position: fixed;

	background-color: #f0f7fb;
    border: solid 1px #3498db;
    border-radius: 6px;

	text-align: center;
}
#countdown{
    /* text-align: center; */
    border: 5px solid #004853;
    display:inline;
    padding: 5px;
    color: #004853;
    font-family: Verdana, sans-serif, Arial;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
  	padding: 20px;
  	text-align: center;
  	position: fixed; /* or absolute */
  	bottom: 0%;
  	left: 50%;
}

#budget{
    /* text-align: center; */
    background-color: #f0f7fb;
    border: 5px solid #004853;
    display:inline;
    padding: 5px;
    color: #004853;
    font-family: Verdana, sans-serif, Arial;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
  	padding: 20px;
  	text-align: center;
  	position: fixed; /* or absolute */
  	bottom: 0%;
  	left: 2%;
}